.page {
  min-height: 100vh;
  background-image: url("../assets/backg.jpg");
  background-size: cover;        /* couvre toute la page */
  background-position: center;   /* centre l'image */
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: rgba(211, 204, 204, 0.363); /* blanc avec transparence */
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(81, 86, 180, 0.6);
  box-shadow:
    0 0 10px rgba(81, 86, 180, 0.4),
    0 0 30px rgba(81, 86, 180, 0.2);
}

.form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.form input,
.form select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #5156b4;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.form button:hover {
  background-color: #5156b4;
}

.form p {
  text-align: center;
  margin-top: 1rem;
}

.form a {
  color: #646cff;
  text-decoration: none;
}

.error {
  color: #c33;
  background-color: #fee;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  border: 1px solid #fcc;
}
